.background-color {
  background-color: #fb6340;
}
.button1 {
  background-color: #172b4d;
}
.button2 {
  background-color: #5e72e4;
}
.button3 {
  background-color: #2dcea0;
}
.button4 {
  background-color: #f4405f;
}
